* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
}
.content header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 75px 0px 75px;
}
.content header h1.logo {
  font-size: 40px;
  color: #f27b26;
  font-family: "Indie Flower";
}
.content header a.booked {
  font-size: 20px;
  color: #f27b26;
  display: flex;
  font-weight: bold;
}
.content header a.booked:hover {
  color: #f59958;
}
.content header a span {
  background: url(/assets/search.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 10px;
}
.content main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content main h1.slogan {
  margin-bottom: 35px;
  font-size: 38px;
  letter-spacing: 0.12rem;
  line-height: 4rem;
  color: #788896;
  text-align: center;
  font-family: cursive;
}

.content main a.book {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: #f27b26;
  border-radius: 2px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  font-size: 28px;
  font-weight: normal;
  font-family: "Indie Flower";
  transition: 400ms;
}

.content main a span {
  display: flex;
  background: url(/assets/location-white.png) no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 25%;
  margin-right: 5px;
}

.content main a:hover {
  background-color: #f59958;
}

.content main img {
  width: 85%;
}

@media (max-width: 500px) {
  body {
    width: auto;
    height: auto;
    background-image: none;
    background-color: #dedede;
    font-family: sans-serif;
  }
  .content header {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content header h1.logo {
    font-size: 12vw;
    margin-bottom: 15px;
  }
  .content header a.booked {
    font-size: 6vw;
  }
  .content main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content main h1.slogan {
    font-size: 7vw;
  }
  .content main a.book {
    width: 200px;
    height: 50px;
    font-size: 6vw;
    text-align: center;
  }
  .content main a span {
    margin: 0 10px 0 30px;
  }
  .content main img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
