<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/booksuccess.css" />
  </head>
  <body>
    <div id="modal" class="point-modal">
      <div class="content">
        <img src="/assets/check.svg" alt="Reserva efetuada" />
        <h1>Reserva efetuada</h1>
      </div>
    </div>

    <script>
      setTimeout(() => {
        window.location = "/";
      }, 2000);
    </script>
  </body>
</html>
