<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/book.css" />
  </head>
  <body>
    <div class="content">
      <header>
        <h1 class="logo">TimeToPark</h1>
        <a href="/" class="booked">
          <span></span>
          Voltar
        </a>
      </header>

      <main>
        <form action="/book/success">
          <h1>Reserva de Vaga</h1>

          <fieldset>
            <legend>
              <h2>Dados para reserva</h2>
            </legend>

            <div class="field">
              <label for="name">Nome</label>
              <input type="text" id="name" name="name" value="" required />
            </div>

            <div class="field">
              <label for="time">Vaga</label>
              <select name="time" required>
                <option value="" disabled selected>Selecione uma vaga</option>
                <option value="1" id="vaga1">Vaga 1</option>
              </select>
            </div>

            <div class="field">
              <label for="name">Senha</label>
              <input
                type="password"
                id="password"
                name="senha"
                value=""
                placeholder="Senha de cancelamento"
                required
              />
            </div>
          </fieldset>
          <button type="submit" id="btn" name="cadastro" value="value">
            Reservar Vaga
          </button>
        </form>
      </main>
    </div>

    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyA-USx4ZtknNFCmyzLmMxLYzFzHapg2o8Y",
        authDomain: "primeiro-contato.firebaseapp.com",
        databaseURL: "https://primeiro-contato.firebaseio.com",
        projectId: "primeiro-contato",
        storageBucket: "primeiro-contato.appspot.com",
      };
      firebase.initializeApp(firebaseConfig);
    </script>
    <script src="/scripts/book.js"></script>
  </body>
</html>
